backend/venv
static/assets/gallery7/*
static/assets/gallery6/*
static/assets/gallery5/*
static/assets/gallery4/*
static/assets/gallery3/*
static/assets/gallery2/*
static/assets/gallery1/*
static/assets/videos/*
